FRONTEND_PORT=3000
BACKEND_PORT=5000
DB_PORT=3306
NEXT_PUBLIC_API_URL=http://localhost:5000/api

MYSQL_ROOT_PASSWORD=Sabotage-Sœur-Machine-est-Trahir23
MYSQL_DATABASE=db-defi-vdc
MYSQL_USER=db-defi-vdc-user
MYSQL_PASSWORD=Cire23-Couture-Chef-Chirurgie-Tournoi

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# En production : utiliser l'URL publique du frontend (ex. https://defi.jean23.org) pour le lien présent dans les emails.
FRONTEND_URL=http://localhost:3000

JWT_SECRET=f33bec9005b98ce438c5261a7206fd351ca18bbc7ad47f47a0c9abfd923d358c55454978675d6910702a0c6108a1f2a7cee1bd211be255b0721cd7aede894cf7
